<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target xsi:type="Debugger" name="debug"/>
    <target xsi:type="ColoredConsole" name="coloredConsole"/>
    <target xsi:type="File" fileName="Log.txt" name="file"/>
  </targets>
  <rules>
    <!-- Сокет сервер -->
    <logger name="SocketServer" writeTo="debug" minlevel="Debug" />
    <logger name="SocketServer" writeTo="coloredConsole" minlevel="Info" />

    <!-- Логический сервер -->
    <logger name="LogicServer" writeTo="debug" minlevel="Debug"/>
    <logger name="LogicServer" writeTo="coloredConsole" minlevel="Info"/>
    <logger name="GarbageCollector" writeTo="debug" minlevel="Info"/>
    <logger name="IdGenerator" writeTo="debug" minlevel="Off"/>
  </rules>
</nlog>