<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target xsi:type="Debugger" name="debug"/>
    <target xsi:type="ColoredConsole" name="coloredConsole"/>
  </targets>
  <rules>
    <logger name="SocketServer" writeTo="debug" level="Trace" />
    <logger name="*" writeTo="coloredConsole" minlevel="Info" />
  </rules>
</nlog>
